<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.sample_task_dbConnectionString1"
            connectionString="Data Source=&quot;. \SQLEXPRESS&quot;;Initial Catalog=sample_task_db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>